<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>969205204881-514khgbb2g7n2f0aofh6dj7qlsponpp8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.969205204881-514khgbb2g7n2f0aofh6dj7qlsponpp8</string>
	<key>API_KEY</key>
	<string>AIzaSyDO6zPF1atBsUT6Uu8LT39bkfdglQHfTPo</string>
	<key>GCM_SENDER_ID</key>
	<string>969205204881</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.swiftme.Swyzzy</string>
	<key>PROJECT_ID</key>
	<string>swyzzy-4a0b4</string>
	<key>STORAGE_BUCKET</key>
	<string>swyzzy-4a0b4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:969205204881:ios:fbd9514c5cd8304d7efc30</string>
</dict>
</plist>